@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap");
/* font-family: 'Oswald', sans-serif; -- Headers
font-family: 'Open Sans', sans-serif; -- 
 */
body {
  font-family: "Open Sans", sans-serif;
}
.App {
  text-align: center;
  margin: 0;
  box-sizing: 0;
  font-family: Open Sans;
}

.nav {
  width: 100%;
}
/*Sign up/
 */
h2 {
  margin-top: -50px;
  font-family: "Oswald", sans-serif;
}
.card1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  padding-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfbfb;
  font-size: 1.5vw;
}
h3 {
  font-family: "Oswald", sans-serif;
}
h1 {
  font-family: "Oswald", sans-serif;
}
.cardImg {
  height: 40vw;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.cardButton {
  width: 15vw;
  font-size: 2vw;
  background-color: #61921b;
  color: white;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardButton:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
input {
  border: none;
  width: 30%;
  height: 20%;
  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Editing*/
.wrapper2 {
  height: auto;
  padding: 90px;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*Home Protected Page*/
.redCard {
  margin: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 25px;
  height: 20vw;
}
.card3 {
  display: flex;
  flex-flow: row wrap;
  background-color: none;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: black;
}
.link:active {
  color: black;
}
.link:visited {
  color: black;
}

/*recipe*/
.card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 50%;
  height: 35vw;
}
.card {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  /* text-align: center; */
  width: 50%;
  height: 50vw;
}
/*nav*/
.navBar {
  /* border: solid black 1px; */
  padding-top: 25px;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.navBar2 {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  /* border: solid black 1px; */
}
.flexing {
  display: flex;
  justify-content: space-around;
}
.links {
  text-decoration: none;
  color: black;
}
.links:hover {
  color: black;
}
.links:active {
  color: black;
}
.links:visited {
  color: black;
}
